.backButton {
    font-weight: bold;
}

.pouleName {
    word-wrap: break-word;
}

.inviteText {
    padding: 0.3rem 0.3rem 0.3rem 0;
    width: fit-content;
}

.inviteText span {
    font-weight: bold;
}

.standings table,
.standings th,
.standings td {
    border: 0.05rem solid var(--black);
    border-collapse: collapse;
}

.standings table {
    table-layout: fixed;
    width: 100%;
}

.standings th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.4rem;
    text-align: left;
}

.standings tr {
    background-color: var(--table-row-uneven-color);
}

.standings tr:nth-child(even) {
    background-color: var(--table-row-even-color);
}

.standings td {
    padding: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
}

.standingsName {
    display: none;
}

.standingsPos {
    width: 3.5rem;
}

.standingsPoints {
    width: 4.5rem;
}

.button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.button a {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: border 0.1s;
    padding: 5px 15px;
    color: var(--white);
}

.button a:hover {
    border: 2px solid var(--black);
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .standingsName {
        display: table-cell;
    }
}
