.backButton {
    font-weight: bold;
}

.dialogButton {
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.4rem;
    margin: 0 0.5rem;
}

.dialogButton:hover {
    cursor: pointer;
}

.deleteConfirm {
    background-color: var(--red-positive);
}

.pouleInfoForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.pouleInfoForm .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.pouleInfoForm .labelSubmitSettings {
    margin-top: 0.5rem;
}

.pouleInfoForm .input {
    width: 15rem;
    height: 1.8rem;
    margin-top: 0.3rem;
}

.pouleInfoForm .input:-webkit-autofill {
    color: black;
    -webkit-text-fill-color: rgb(2, 2, 2);
    box-shadow: 0 0 0px 1000px var(--white) inset;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid var(--black);
}

.pouleInfoForm .labelapprove {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.pouleInfoForm .inputapprove {
    margin: 0;
    margin-right: 0.4rem;
}

.pouleInfoForm .submitbutton {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1em;
    height: 2.2rem;
}

.pouleInfoForm .submitbutton:hover {
    border-color: var(--black);
    cursor: pointer;
}

.approveTable table,
.approveTable th,
.approveTable td {
    border: 0.05rem solid var(--black);
    border-collapse: collapse;
}

.approveTable table {
    table-layout: fixed;
    width: 100%;
}

.approveTable th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.4rem;
    text-align: left;
}

.approveTable tr {
    background-color: var(--table-row-even-color);
}

.approveTable td {
    padding: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
}

.approveTableName {
    display: none;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon:hover {
    cursor: pointer;
}

.iconCheck {
    color: var(--green-positive);
}

.iconCross {
    color: var(--red-positive);
}

.tableDataCentered {
    text-align: center;
}

.inlineClickable {
    text-decoration: underline;
}

.pointsStrategyForm {
    display: flex;
    flex-direction: column;
}

.pointsStrategyForm div {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    justify-content: space-between;
}

.pointsStrategyForm label {
    font-weight: bold;
}

.pointsStrategyForm input {
    width: 2.5rem;
    height: 1.5rem;
}

.pointsStrategyForm .submitbutton {
    margin-top: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1em;
    height: 2.2rem;
    width: 10rem;
}

.pointsStrategyForm .submitbutton:hover {
    border-color: var(--black);
    cursor: pointer;
}

.deleteButton {
    background-color: var(--red-positive);
    padding: 0.4rem;
    color: var(--black);
    border-radius: 0.2rem;
    border: 0.1rem solid var(--black);
    cursor: pointer;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .approveTableName {
        display: table-cell;
    }

    .pointsStrategyForm div {
        width: 25rem;
    }
}
