.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.form .input {
    width: 15rem;
    height: 1.8rem;
    margin-top: 0.3rem;
}

.form .input:-webkit-autofill {
    color: black;
    -webkit-text-fill-color: rgb(2, 2, 2);
    box-shadow: 0 0 0px 1000px var(--white) inset;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid var(--black);
}

.form .submitbutton {
    background-color: var(--tertiary-color);
    color: black;
    border-color: var(--tertiary-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1em;
    height: 2.2rem;
}

.form .submitbutton:hover {
    border-color: var(--black);
    cursor: pointer;
}

.form .labelrememberme {
    align-content: center;
}

.form .inputrememberme {
    margin: 0 0.3rem 0 0;
}
