.footer {
    background: var(--primary-color);
    padding: 1rem;
    width: 100%;
    display: flex;
    min-height: 6rem;
    margin-top: auto;
}

.content {
    width: inherit;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clickableText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.hideText {
    display: none;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--black);
}
