.message {
    padding: 0.6rem;
    border-radius: 0.2rem;
    position: relative;
}

.message p {
    margin: 0;
}

.closeButton {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}

.closeButton:hover {
    cursor: pointer;
}

.danger {
    background-color: var(--danger-color);
}

.success {
    background-color: var(--success-color);
    color: var(--white);
}

.warning {
    background-color: var(--warning-color);
}
