.message {
    padding: 0.6rem;
    border-radius: 0.2rem;
}

.danger {
    background-color: var(--danger-color);
}

.success {
    background-color: var(--success-color);
    color: var(--white);
}

.warning {
    background-color: var(--warning-color);
}
