.selectWeek {
    display: flex;
}

.selectWeekLabel {
    margin-left: auto;
    margin-right: auto;
}

.selectWeekSelect {
    margin-left: 1rem;
}

.leagueContainer {
    margin-top: 1rem;
    border: 0.15rem solid #2a8378;
    border-radius: 0.4rem;
}

.leagueName {
    background-color: #2a8378;
    color: white;
    padding: 0.1rem 0.5rem;
    border-bottom: 0.15rem solid #2a8378;
}

.gameRow {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #b4cfcc;
}

.gameRow:nth-child(even) {
    background-color: #d1e7e5;
}

.dateTime {
    display: none;
    margin-left: 0.5rem;
    width: 3.8rem;
}

.day {
    display: inline-block;
    width: 1rem;
    font-size: 0.8rem;
}

.time {
    display: inline-block;
    margin-left: 0.1rem;
    font-size: 0.8rem;
}

.teams {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.teamAndImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.teamImage {
    height: 1.3rem;
    margin-right: auto;
    margin-left: auto;
}

.teamLabel {
    display: inline-block;
    max-width: 5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
}

.scoreBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actualScoreText {
    margin: 0;
    font-size: 0.8rem;
}

.scoreInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.teamDivider {
    display: inline;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.scoreInput {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.3rem;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    color: black;
}

.scoreInputDisabled {
    margin: 0;
    height: auto;
    font-size: 1rem;
}

.score {
    margin-right: 0.3rem;
    font-weight: bold;
    width: 1.5rem;
    text-align: center;
}

/* Mobile menu */
@media all and (min-width: 400px) {
    .dateTime {
        display: inline-block;
    }
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .dateTime {
        width: 5rem;
    }

    .day {
        font-size: 1rem;
    }

    .time {
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    .teamLabel {
        font-size: 1rem;
        max-width: none;
    }

    .teamLabelLeft {
        order: 1;
    }
    .teamLabelRight {
        order: 2;
    }

    .teamAndImage {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
    }

    .teamImage {
        margin-left: 0;
        margin-right: 0;
    }

    .teamImageLeft {
        order: 2;
    }

    .teamImageRight {
        order: 1;
    }

    .teamAndImageAlignLeft {
        justify-content: start;
        margin-left: 1rem;
    }

    .teamAndImageAlignRight {
        justify-content: end;
        margin-right: 1rem;
    }

    .teamDivider {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .actualScoreText {
        height: 0.8rem;
    }

    .scoreInput {
        width: 1.7rem;
        height: 1.7rem;
    }
}
