.home {
    margin-top: 2rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.2rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

.leagues {
    font-size: 1.3rem;
    text-align: center;
    margin: 4rem 0;
}

.subtitle {
    text-align: center;
}

.inlineClickable {
    text-decoration: underline;
}

.center {
    font-size: 1.1rem;
    text-align: center;
}

/* Mobile menu */
@media all and (min-width: 400px) {
    .title {
        font-size: 4rem;
    }
}
