.rankingInfo {
    display: flex;
    flex-direction: column;
}

.selectSeason {
    height: 1.8rem;
    margin-bottom: 1rem;
}

.rankings {
    margin-bottom: 1.5rem;
}

.rankings table,
.rankings th,
.rankings td {
    border: 0.05rem solid var(--black);
    border-collapse: collapse;
}

.rankings table {
    table-layout: fixed;
    width: 100%;
}

.rankings th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.4rem;
    text-align: left;
}

.rankings tr {
    background-color: var(--table-row-uneven-color);
}

.rankings tr:nth-child(even) {
    background-color: var(--table-row-even-color);
}

.rankings td {
    padding: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
}

.sortableColumn:hover {
    cursor: pointer;
}

.sortIcon {
    width: 0.8rem;
    height: 0.8rem;
}

.rankingsPosition {
    width: 4rem;
}

.dataBold {
    font-weight: bold;
}

.rankingsPointsData span {
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .rankingInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .selectSeason {
        margin-bottom: 0;
    }

    .rankingsPointsData span {
        font-weight: normal;
        font-size: 0.8rem;
        display: initial;
    }
}
